<h1>This is a Movie Recommender</h1>

<form action="/recommender">
    <p>Please rate the following movies on a scale from 0.0 to 5.0:</p>
    {{movies[0]}}:
    <input type="text" name={{id[0]}} placeholder="0.0 - 5.0"><br>
    {{movies[1]}}:
    <input type="text" name={{id[1]}} placeholder="0.0 - 5.0"><br>
    {{movies[2]}}:
    <input type="text" name={{id[2]}} placeholder="0.0 - 5.0"><br>
    {{movies[3]}}:
    <input type="text" name={{id[3]}} placeholder="0.0 - 5.0"><br>
    {{movies[4]}}:
    <input type="text" name={{id[4]}} placeholder="0.0 - 5.0"><br>
    <input type="submit">
  </form>
    